<% 

    const excerptHtml = require('excerpt-html')
    const he = require('he')

    let hostname = htmlWebpackPlugin.options.hostname
    let baseURL = htmlWebpackPlugin.options.baseURL
    let largeURL = htmlWebpackPlugin.options.largeURL
    let ipfsCid = htmlWebpackPlugin.options.ipfsCid
    let marketplaces = htmlWebpackPlugin.options.marketplaces
    let firstPost = htmlWebpackPlugin.options.firstPost

    let channelViewModel=htmlWebpackPlugin.options.channelViewModel 
    let routablePages = htmlWebpackPlugin.options.routablePages
    let attributeReport = htmlWebpackPlugin.options.attributeReport


    const link = (href) => {
        return `${baseURL + href}`
    }   

    const absoluteLink = (href) => {
      return `${hostname + baseURL + href}`
    }   

    
    const escapeExcerpt = (excerpt) => {
      excerpt = excerptHtml(excerpt, { pruneLength: 500 })
      return he.encode(excerpt.toString())
    }



%>

<!DOCTYPE html>
<html>

  <head>
    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>

    <meta property="og:title" content="<%=channelViewModel.channel.title%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= link(`index.html`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`index.html`) %>" />
    <meta property="twitter:title" content="<%=channelViewModel.channel.title%>" />
    <meta property="twitter:description" content="<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%= htmlWebpackPlugin.tags.headTags %>
    

  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <div class="page" data-name="home">

          <nav-bar></nav-bar>


          <div class="page-content">

            <div class="row">

              <div class="col-100 large-75">

                <div class="card channel-card-show">

                  <div class="card-header banner" id="banner" <% if(channelViewModel?.channel.coverBannerId) { %>
                    style="background-image: url('<%= link(`backup/images/${channelViewModel.channel.coverBannerId}.jpg`) %>')"
                      <% } %>
                        >

                        <a href="<%= link('index.html') %>">
                          <% if (channelViewModel?.channel.coverImageId) { %>
                            <img src="<%= link(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>" class="avatar" />
                          <% } else { %>
                            <i class="f7-icons avatar">photo</i>
                          <% } %>
                        </a>

                  </div>

                  <div class="card-content card-content-padding">

                    <div class="title">
                      <%= channelViewModel.channel.title %>
                    </div>

                    <% if(channelViewModel?.authorDisplayName) { %>
                      <div class="name">
                        By <a href="https://etherscan.io/address/<%=channelViewModel?.author._id%>" class="external">
                          <%= channelViewModel?.authorDisplayName %>
                        </a>
                      </div>
                    <% } %>

                    <div class="description" id="channel-show-description-<%=channelViewModel.channel._id%>">
                      <%= channelViewModel.channel?.descriptionHTML %>
                    </div>

                    <% if(channelViewModel.channel?.contractAddress) { %>
                      <div class="contract-address">
                        <strong>Contract Address:</strong>
                        <a href="https://etherscan.io/address/<%=channelViewModel.channel?.contractAddress%>"></a>
                        <%= channelViewModel?.channelContractAbbrev %>
                      </div>
                    <% } %>


                    <div class="start-buttons">
                      <a href="<%= link('explore.html') %>" class="button button-fill text-color-white explore-button">Explore</a>

                      <a href="<%= link(`t/${firstPost.item.tokenId}`) %>" class="button button-outline color-blue start-slideshow ready-button">Ready to read?</a>
                    </div>


                  </div>

                </div>



                <% 
                  if (channelViewModel.staticPagesViewModel.index?.length > 0) {

                    for (let staticPage of channelViewModel.staticPagesViewModel.index) {
                 %>

                  <div class="card static-page-card">   
                    <div class="card-content card-content-padding">
                      <%= staticPage.contentHTML %>
                    </div>               
                  </div>

                <%
                    }
                  }                  
                %>


                <% if (channelViewModel?.channel.license) { %>

                  <div class="block-title block-title-small">License</div>
                  <div class="card">
                    <div class="card-content card-content-padding license">
                      <%= channelViewModel?.channel.licenseHTML %>
                    </div>
                    
                  </div>

                <% } %>



              </div>

              <div class="col-100 large-25">
                

                <div class="list links-list inset">   
                    
                  <ul>
                
                <%
                    for (let staticPage of channelViewModel.staticPagesViewModel.links) {
                %>
                      <li><a href="<%= link(`${staticPage.slug}.html`) %>"><%= staticPage.name %></a></li>
                <%
                  }
                  
                %>
                    <li><a href="<%= link(`attributes.html`) %>">Attribute Report</a></li>
                  </ul>

                </div>



                <% 
                  if (marketplaces?.length > 0) {
                %>
                <div class="block-title block-title-medium">Marketplaces</div>

                <div class="list simple-list inset">
                  <ul>
                  
                    <% 
                      for (let marketplace of marketplaces) { 
                    %>  
                      <li><a href="<%= marketplace.link %>" class="external"><%= marketplace.name %></a></li>     
                    <%
                      }
                    %>

                  </ul>
                </div>
                <%
                  }
                %>

                <mint-info
                  baseurl="<%= baseURL %>"
                ></mint-info>
              
                <div class="block-title block-title-medium">Fork Collection</div>
                <div class="block">   
                    <a href="<%= largeURL %>#!/admin/channel/fork?cid=<%= ipfsCid %>" class="button button-fill external" style="width: 250px;">
                      <span class="material-icons">fork_left</span>
                      Fork
                    </a>
                </div>







              </div>
              
            </div>

          </div>

        </div>

      </div>

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>

    
    <script type="module" id="page-init-scripts">

      const init = (props, { $, $f7, $h, $on, $update }) => {
              
            let itemWebService = globalThis.container.get("ItemWebService")

            let photoBrowser 

            $on('pageInit', async () => {

              // $('.start-slideshow').click( async (e) => {
              //   await startSlideshow()
              // })


              //Make links external
              let links = document.getElementById(`channel-show-description-<%= channelViewModel.channel._id %>`).getElementsByTagName('a')

              for (let link of links) {
                link.classList.add('external')
              }


            })

            $on('pageBeforeOut', async () => {
            })

            // const startSlideshow = async (e) => {

            //   $f7.preloader.show()

            //   if (!photoBrowser) {
              
            //     let list = await itemWebService.slideshow()

            //     photoBrowser = $f7.photoBrowser.create({
            //       photos:list,
            //       type: "popup",
            //       renderCaption: (caption, index) => `
            //       <div class="photo-browser-caption" data-caption-index=${index}>
            //         ${caption}
            //       </div>
            //       `
            //     })

            //   }


            //   photoBrowser.open()

            //   $f7.preloader.hide()

            // }




            document.querySelector('meta[property="og:title"]').setAttribute("content", "<%=channelViewModel.channel.title%>")
            document.querySelector('meta[property="og:url"]').setAttribute("content", "<%= link(`index.html`) %>")
            document.querySelector('meta[property="og:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="og:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>")

            document.querySelector('meta[property="twitter:url"]').setAttribute("content", "<%= link(`index.html`) %>")
            document.querySelector('meta[property="twitter:title"]').setAttribute("content", "<%=channelViewModel.channel.title%>")
            document.querySelector('meta[property="twitter:image"]').setAttribute("content", "<%= absoluteLink(`backup/images/${channelViewModel.channel.coverImageId}.jpg`) %>")
            document.querySelector('meta[property="twitter:description"]').setAttribute("content", "<%= escapeExcerpt(channelViewModel.channel.descriptionHTML)%>" )

            document.querySelector('title').innerHTML = "<%=channelViewModel.channel.title%>"

            $f7.preloader.hide()

            return $render;

          

      }


    </script>

    <script type="module" id="page-scripts">

      let routablePages = JSON.parse(`<%= JSON.stringify(routablePages) %>`)
      let app = reader.init('<%= baseURL %>', '<%= hostname %>', '<%= VERSION %>', routablePages )

    </script>

  </body>

</html>